.database {
  position: relative;
  height: 100%;
  top: 150px;
  left: 150px;
}

@media (max-width: 800px) {
  .database {
    position: relative;
    left: 10%;
    padding-right: 20%;
  }
}

.database-item {
  display: inline-block;
  overflow: visible;
  max-height: 100%;
  max-width: 100%;
}

.typing-heading-database-appear {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
}

.typing-heading-database-appear.typing-heading-database-appear-active {
  width: 50%;
  animation: type-in-heading-database 0.5s steps(15, end)
}

@keyframes type-in-heading-database{
  from {width:0%}
  to {width: 50%}
}

.typing-body-database-appear {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
}

.typing-body-database-appear.typing-body-database-appear-active {
  width: 90%;
  animation: type-in-body-database 1.5s steps(50, end)
}

@keyframes type-in-body-database{
  from {width:0%}
  to {width: 90%}
}
