.heading button:hover {
  color: #FFF;
}

.database {
  position: relative;
  height: 100%;
  top: 150px;
  left: 150px;
}

@media (max-width: 800px) {
  .database {
    position: relative;
    left: 10%;
    padding-right: 20%;
  }
}

.database-item {
  display: inline-block;
  overflow: visible;
  max-height: 100%;
  max-width: 100%;
}

.typing-heading-database-appear, .typing-body-database-appear {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
}

.typing-heading-database-appear.typing-heading-database-appear-active {
  width: 100%;
  animation: type-animation 0.8s steps(8, end)
}

.typing-body-database-appear.typing-body-database-appear-active {
  width: 100%;
  animation: type-animation 2.5s steps(35, end)
}
