.sample-work {
  position: relative;
  height: 100%;
  top: 150px;
  left: 150px;
}

@media (max-width: 800px) {
  .sample-work {
    position: relative;
    left: 10%;
    padding-right: 20%;
  }
}

.sample-work-item {
  overflow: visible;
  max-height: 100%;
  max-width: 100%;
}

.typing-heading-appear, .typing-body-sample-appear {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
}

.typing-heading-appear.typing-heading-appear-active {
  width: 100%;
  animation: type-animation 1s steps(11, end)
}

.typing-body-sample-appear.typing-body-sample-appear-active {
  width: 100%;
  animation: type-animation 1.2s steps(15, end)
}
