.sample-work {
  position: relative;
  height: 100%;
  top: 150px;
  left: 150px;
}

@media (max-width: 800px) {
  .sample-work {
    position: relative;
    left: 10%;
    padding-right: 20%;
  }
}

.sample-work-item {
  overflow: visible;
  max-height: 100%;
  max-width: 100%;
}

.typing-heading-appear {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
}

.typing-heading-appear.typing-heading-appear-active {
  width: 80%;
  animation: type-in-heading 1s steps(20, end)
}

@keyframes type-in-heading{
  from {width:0%}
  to {width: 80%}
}

.typing-body-sample-appear {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
}

.typing-body-sample-appear.typing-body-sample-appear-active {
  width: 30%;
  animation: type-in-body-sample 1s steps(20, end)
}

@keyframes type-in-body-sample{
  from {width:0%}
  to {width: 30%}
}
