.Navigation {
  position: absolute;
  right: 20px;
  text-align: right;
  text-decoration: none;
  font-size: 1.18em;
  width: 200px;
  height: 200px;
  z-index: 1;
}

.Navigation a {
  text-decoration: none;
}

.background {
  font-family: 'Press Start 2P', cursive;
  z-index: -10;
  color: #111;
  position: relative;
  font-size: 3.5em;
  margin: 0px;
  padding: 0px;
  left: -10px;
  top: -160px;
}

@media (max-width: 600px) {
  .background {
    font-size: 2.5em;
    left: -30px;
  }
}

.character-link {
  height: 20px;
  cursor: pointer;
}

.link-text {
  cursor: pointer;
  float: right;
  overflow: hidden;
  letter-spacing: .40em;
  margin-top: 0px;
  width:15%;
}

.txt {
  color: #FFCC00;
  background-color: #282828;
}

.txt-bracket {
  float:right;
  color: #FFCC00;
  background-color: #282828;
}

.disable-click {
  pointer-events: none;
}

.enable-click {
  pointer-events: auto;
}

.animationIn {
  width: 95%;
  animation: type-in 0.6s steps(6, end)
}

@keyframes type-in{
  from {width:15%}
  to {width: 95%}
}

.animationOut {
  width:15%;
  animation: type-out 0.6s steps(6, end)
}

@keyframes type-out{
  from {width: 95%}
  to {width:15%}
}
