.contact {
  position: relative;
  height: 100%;
  top: 150px;
  left: 150px;
}

.contact-box {
  display: inline;
  max-height: 100%;
  max-width: 80%;
}

@media (max-width: 800px) {
  .contact {
    left: 10%;
    padding-right: 20%;
  }
  .contact-box {
    max-width: 100%;
  }
}

.typing-heading-contact-appear, .typing-body-contact-appear {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
}

.typing-heading-contact-appear.typing-heading-contact-appear-active {
  width: 100%;
  animation: type-animation 0.8s steps(7, end)
}

.typing-body-contact-appear.typing-body-contact-appear-active {
  width: 100%;
  animation: type-animation 2.5s steps(45, end)
}

.profile {
  top: 150px;
  right: 250px;
  position: absolute;
  overflow: hidden;
  font-size: 2px;
  line-height: 5px;
  min-inline-size: min-content;
  max-inline-size: min-content;
  line-break: loose;
  width: 345px;
  color: #FFF;
}

@media (max-width: 800px) {
  .profile {
    top: 300px;
    right: 100px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .profile {
    display: none;
  }
}

.typing-profile-appear {
  height: 0%;
  position: absolute;
  overflow: hidden;
}

.typing-profile-appear.typing-profile-appear-active {
  height: 50%;
  animation: type-in-profile 2s
}

@keyframes type-in-profile{
  from {height:0%}
  to {height: 50%}
}
