.top-parent {
  position: relative;
  max-width: 600px;
  width: 100%;
  font-size: 1.3em;
}

.expand-arrow {
  float: left;
  position: absolute;
  left: -10px;
  cursor: pointer;
}

.expand-btn {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: #FFFFFF;
}
