.top-parent {
  position: relative;
  max-width: 600px;
  width: 100%;
  font-size: 1.2em;
  line-height: 0.9em;
  margin-bottom: 100px;
}

.expand-arrow {
  float: left;
  position: absolute;
  left: 0px;
  cursor: pointer;
  color: #757575;
}

.expand-btn {
  cursor: pointer;
  color: #757575;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: #FFFFFF;
}

.key-value {
  margin: 8px 0 0 25px;
}

.value {
  color: #33FF00
}

.syntax {
  color: #757575
}
